
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content">
    <div class="tbl-header">
        <div id="tbl-1">
            <table>
                <tr>
                    <td>設定</td>
                    <td class="tbl-right">2</td>
                </tr>
                <tr>
                    <td>店舗コード</td>
                    <td class="tbl-right">2</td>
                </tr>
                <tr>
                    <td>シフト区分</td>
                    <td class="tbl-right ">2</td>
                </tr>
            </table>
        </div>
        <div id="tbl-2">
            <table>
                <tr>
                    <td>設定</td>
                    <td class="tbl-right">2</td>
                </tr>
                <tr>
                    <td>店舗コード</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>設定</td>
                    <td>2</td>
                </tr>
            </table>
        </div>

        <div id="tbl-3">
            <table>
                <tr>
                    <td>店舗コード</td>
                    <td class="tbl-right">2</td>
                    <td>店舗コード</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="border"></div>
    <div class="tbl-header-2">
        <div id="tbl-h1">
            <label></label>
            <table>
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                </tr>
                <tr class="td-bt">
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                </tr>
            </table>
        </div>

        <div id="tbl-h2">
            <label>店舗コード</label> 
            <table>
                <tr>
                    <th>1</th>
                    <th>2</th>
                </tr>
                <tr>
                    <td>3</td>
                    <td>4</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="tbl-header-3">
        <table>
            <tr>          
            </tr>
        </table>
    </div>
</div>



